
input[type=text],input[type=password]  {
	position:relative;
  width: 100%;
  height: 60px;
  padding: 12px 80px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:30px; 
  opacity:.5;
  font-size:20px;

}

input[type="checkbox"]{
	
	display:none;
	
}


img{
height: 70px;
width: 70px;
position:absolute;
padding-top: 3px;
z-index:1;
}


span.psw {
	position:relative;
  text-align: right;
  padding-top: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
  font-weight:bold;
  font-size: 20px;
  
}

input[type=submit] {
	
	
  background-color: #ffffff;
  color: #01212E;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 30px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight:bold;
  font-size: 25px;
  

}

input[type=submit]:hover {
  opacity: 0.8;
}


.container {
  padding: 150px;
    border-radius:20px; 
}

span.psw {
  float: right;
  padding-top: 16px;
  color: #ffffff;
}

.modal {

  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  padding-top: 30px;

}


.modal-content {
	position: sticky;
  background-image: linear-gradient(125deg,#2e2d35,#314f83,#205082,#44718e,#5386a3); 
 margin: 5% auto 5% auto;
  border: 1px solid black;
  width: 50%;
  border-radius:50px; 
  
 
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow:inset 0px 1px 5px black; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-image:linear-gradient(125deg,#595959,#737373,#666666,#595959,#4c4c4c,#404040,#333333);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-image:linear-gradient(45deg,#808080,#999999,#a6a6a6,#b2b2b2,#bfbfbf);
}